default: &default
  adapter: mysql2   
  encoding: utf8
  pool: 5
  username: root
  password: 
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: steemd_dev

test:
  <<: *default
  database: steemd_test

production:
  <<: *default
  database: steemd_prod
