# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e6c3d10929e7ae7d689745abed03c2638d44a2e92b19a501094c992415b37134d49424960d8962affc5de194913e9a6e4b4d506a1f9769631ec6ec4eacea9a69

test:
  secret_key_base: 0139f574884806b857186fd598bb141d7818d69d6781bbcfc9c126bdfefe2a009689e7c540b41d9cfa8301ead2f2e20081a10f82592b161c4cc6a9e6fd4a5489

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
